{% extends 'base.html' %} {% block content %}
<h2 style="color: teal; text-align: center; font-weight:bold; font-size: 25px;">Orders</h2>
<table style="background-color: lightgray; padding: 30px; display: flex; place-content: center; margin-top: 40px; width: 100%;">
  <tr>
    <th>ID</th>
    <th>Customer Name</th>
    <th>Status</th>
  </tr>
  {% for order in orders %}
  <tr>
    <td>{{ order.id }}</td>
    <td>{{ order.customer_name }}</td>
    <td>{{ order.status }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
